header {
    background-color: teal;
}
nav {
    background-color: tomato;
}
nav a {
    color: white;
    text-decoration: none;
}
main {
    background-color: violet;
    color: black;
}
footer {
    background-color: wheat;
}